.box_with_border
.lesson_box
  .sentence.previous
  .sentence.cuent
  .sentence.next
.input_box{ contenteditable: true }
.keyboard
  -# first row
  - 13.times do |num|
    .key.square{ id: "1_row_#{num}" }
      %p= num
  .square.delete 
    %p delete

  -# second row
  .square.tab.clear 
    %p tab
  - 13.times do |num|
    .key.square{ id: "2_row_#{num}" }
      %p= num

  -# home row
  .square.caps
    %p caps lock
  - 11.times do |num|
    .key.square{ id: "3_row_#{num}" }
      %p= num
  .square.enter
    %p return

  -# third row
  .square.shift
    %p shift
  - 10.times do |num|
    .key.square{ id: "4_row_#{num}" }
      %p= num
  .square.shift
    %p shift

  -# bottom row
  .bottom.fn
    %p fn
  .bottom.fn
  .bottom.fn
  .bottom.super
  .bottom.space
  .bottom.super
  .bottom.fn
  .bottom.arrows
    .key.arrow.up
      %p ˄
    .key.clear.arrow.left
      %p ˂
    .key.clear.arrow.down
      %p ˅
    .key.clear.arrow.right
      %p ˃
